<div class="signupPage">
    <div class="signup-form">
        <h1>Sign Up</h1>
        <form action="" method="get">
            <div>
                <p><label for="userNmae">Username*</label></p>
                <input type="text" id="userName" autocomplete="off" />
            </div>
            <div id="user-error">Your username should contain at least 4 characters/symbols</div>
            <div>
                <p><label for="password">Password*</label></p>
                <input type="password" id="password" required />
            </div>
            <div id="password-error">Your password should contain at least 8 characters/symbols</div>
            <button type="button" id="btn" (click)="signup()" (window:keydown.enter) = "signup()">Sign Up Now</button>
            <div class="alreadyhave">Already have an account? <a routerLink="/login">Log in</a></div>
        </form>
        <div></div>
    </div>
</div>