.signupPage{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background: linear-gradient(to top, rgb(58, 49, 127) , rgb(205, 215, 222) 100%);
    overflow: hidden;
}
.signup-form{
    display: flex;
    flex-direction: column;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 10px;
    /* background: #FBFBFB; */
    background: linear-gradient(to top, rgba(70, 130, 180,0.5) , steelblue 100%);
}
#user-error, #password-error{
    margin-top: 0px;
    width: 100%;
    font-size: 18px;
    color: #C62828;
    background: rgba(239, 76, 95, 0.248);
    text-align: center;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #f62525;
    margin-top: -7px;
    display: none;
}

p{
    font-size: small;
    text-align: left;
    font-weight: bold;
    color: black;
}
label{
    text-transform: uppercase;
    font-size: 12px;
    color: rgb(48, 48, 48);
    text-align: left;
}
.alreadyhave{
    padding-top: 3px;
    font-size: small;
    font-weight: bold;
    color: black;
}
input{
    border: none;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background-color: #FBFBFB;
    position: relative;
    top: -10px;
    padding: 5px;
}
input:focus {
    outline: none !important;
    border-bottom: 1px solid red;
    font-size: 14px;
    font-weight: bold;
}
#password:focus{
    color: red;
    font-size: 16px;
    font-weight: bold;
}
#btn{
    border: none;
    background-color: rgb(44, 14, 114);;
    border-radius: 20px;
    padding: 10px;
    color: white;
    width: 120px;
    margin-top: 15px;    
}
#btn:hover{
    box-shadow: 0 0 25px rgba(8, 8, 8, 0.2);
    background-color: rgb(89, 51, 176);
}