<div class="emails-displayed" id="emails-displayed">
</div>

<div class="light-blocker" id = "light-blocker"></div>

<div class="email-contents" id = "email-contents">
    <div class="new-message-label" style="margin-left: 0">
        <span>Email</span>
        <button (click)="closePopUp()"><i class="fa-solid fa-circle-xmark"></i></button>
    </div>
    <div class="from">
        <span>From:</span>
        <div id="from-field">AdelMahmoudMohamed</div>
    </div>
    <div class="subject">
        <span>Subject:</span>
        <div id="subject-field">about something very important</div>
    </div>
    <div class="Priority">
        <span>Priority:</span>
        <div id="priority-field">So important</div>
    </div>
    <div class="time">
      <span>Time:</span>
      <div id="time-field">30 Dec 15:14:00</div>
  </div>
    <div class="Message">
        <span>Message body: </span>
        <div id="body-field">
        </div>
    </div>
    <!-- <div class="Attachments">
        <span>Attachments: </span>
        <div id="attchments-field"></div>
    </div> -->
</div>
